{% extends 'base.html' %}

{% block content %}
  <h1>Create a Listing</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Listing</button>
  </form>
{% endblock %}
