{% extends 'base.html' %}

{% block content %}
  <h1>List of Active Listings</h1>
  <ul>
    {% for listing in listings %}
      <li>
        <a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a>
        (Price: ${{ listing.price }})
      </li>
    {% endfor %}
  </ul>
{% endblock %}
