{% extends 'base.html' %}

{% block content %}
  <h1>{{ listing.title }}</h1>
  <p>Description: {{ listing.description }}</p>
  <p>Current Price: ${{ listing.price }}</p>
  
  <h2>Place a Bid</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Place Bid</button>
  </form>
  
  <h2>Bids</h2>
  <ul>
    {% for bid in bids %}
      <li>{{ bid.bidder.username }} - ${{ bid.bid_amount }}</li>
    {% endfor %}
  </ul>
</div> <!-- Close the 'content' block -->

<div id="bidding-section">
  <!-- Existing bid list here -->
</div>

<script>
  // Function to update bidding section
  function updateBiddingSection() {
    const listingId = {{ listing.id }};
    const url = `/update_bids/${listingId}/`;  // Define the update view URL

    fetch(url)
      .then((response) => response.text())
      .then((data) => {
        document.getElementById("bidding-section").innerHTML = data;
      });
  }

  // Call the update function every 5 seconds (adjust as needed)
  setInterval(updateBiddingSection, 5000);
</script>

{% if user.is_authenticated %}
  <button id="add-to-watchlist" data-listing-id="{{ listing.id }}">Add to Watchlist</button>
  <button id="remove-from-watchlist" data-listing-id="{{ listing.id }}">Remove from Watchlist</button>
{% endif %}

<script>
  // Add to Watchlist
  document.getElementById("add-to-watchlist").addEventListener("click", function() {
    const listingId = this.getAttribute("data-listing-id");
    const url = `/add_to_watchlist/${listingId}/`;  // Define the add to watchlist view URL

    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          // Update the button states or perform other actions
          alert("Added to Watchlist");
        }
      });
  });

  // Remove from Watchlist
  document.getElementById("remove-from-watchlist").addEventListener("click", function() {
    const listingId = this.getAttribute("data-listing-id");
    const url = `/remove_from_watchlist/${listingId}/`;  // Define the remove from watchlist view URL

    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          // Update the button states or perform other actions
          alert("Removed from Watchlist");
        }
      });
  });
</script>
