{% extends 'base.html' %}

{% block content %}
  <h1>Your Watchlist</h1>
  <ul>
    {% for item in watchlist_items %}
      <li>
        <a href="{% url 'listing_detail' item.listing.id %}">{{ item.listing.title }}</a>
        (Price: ${{ item.listing.price }})
        <a href="{% url 'remove_from_watchlist' item.listing.id %}">Remove from Watchlist</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
