<!-- email_client/compose_email.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Compose Email</h2>
  <form method="post" action="{% url 'compose_email' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
  </form>
{% endblock %}
