<!-- email_client/inbox.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Inbox</h2>
  {% for email in emails %}
    <div>
      <strong>{{ email.sender }}</strong>
      <p>{{ email.subject }}</p>
      <p>{{ email.message }}</p>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
