<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>

    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.text }} - {{ comment.author.username }}</li>
        {% endfor %}
    </ul>

    <h2>Add a Comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
</body>
</html>
