<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wikipedia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Wikipedia</h1>
        <nav>
            <ul>
                <li><a href="{% url 'article_list' %}">Articles</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'article_create' %}">Create Article</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        &copy; {{ year }} Wikipedia
    </footer>
</body>
</html>
